body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,iframe,form,input,button,textarea,th,td,p{margin:0;padding:0;}
input,button,select,textarea{outline:none;}
li{list-style:none}
img,iframe,input,textarea,button{border:none}
textarea{resize:none}
body{overflow-x: hidden;font-family:\5FAE\8F6F\96C5\9ED1,Verdana,Arial;}
button,input{font-family:\5FAE\8F6F\96C5\9ED1,Verdana,Arial;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a{text-decoration: none;}
img{max-width: 100%;}
.fl{float:left;display:inline-block;position:relative;}
.fr{float:right;display:inline-block;position:relative;}
.of{overflow:hidden;}
.clear:after{content:" ";display:block;clear:both;height:0px;visibility:hidden;}
.abs{position:absolute;} 
.rel{position:relative;}
.center{margin: 0 auto;width: 1000px;}
.table{display:table;width:100%;height:100%;vertical-align:middle;}
.table .tableCell{display:table-cell;width:100%;height:100%;text-align:center;vertical-align:middle;}



.banner{width: 1000px;}
.banner .inner{margin: 0 0 0 -460px;height: 350px;width: 1920px;}
.footer{background: #45b035;padding: 15px 0;text-align: center;font-size: 13px;color: #fff;}

.header{padding: 20px 0;position: relative;z-index:10;}
.header .logo{display: inline-block;width: 103px;height: 53px;background: url(../images/logo.png);}
.header .logo a{display: block;text-indent: -9999px;overflow: hidden;}
.header .nv{line-height: 53px;float: right;}
.header .nv li{display: inline-block;margin: 0 0 0 20px;}
.header .nv a{color: #afafaf;font-size: 15px;}
.header .nv a:hover{color: #3EB134;}
.header .nv li.userCenter a{padding: 1px 6px 1px 25px; border: 1px solid #3eb134;border-radius: 4px;background: #f0f6e2 url(../images/icon-user.png) no-repeat 5px center;color: #3eb134;}

.header.gray{padding: 20px 0;position: relative;z-index:10;background: #f0f0f0;border-bottom: 1px solid #dbdbdb;}
.header.gray .nv{float: left;margin: 0 0 0 50px;}
.header.gray .nv li{overflow: hidden;float: left;}
.header.gray .user{float: right;color: #ff7200;text-decoration: underline;display: inline-block;padding: 0 23px 0 0;background: url(../images/user.png) no-repeat center right;position: relative;top: 15px;}
.header.gray .nv li.current a{color: #3EB134;}
.header.gray .nv li a{display: inline-block;line-height: 40px;position: relative;}
.header.gray .nv li a:before{content: ""; height: 1px;background: #3EB134;position: absolute;width: 100%;left: -100%;top: 0;
     -webkit-transition:all 0.34s linear 0s;
    -moz-transition:all 0.34s  linear 0s;
    -ms-transition:all 0.34s  linear 0s;
    -o-transition:all 0.34s linear 0s;
    transition:all 0.34s  linear 0s;
}
.header.gray .nv li a:after{content: ""; height: 1px;background: #3EB134;position: absolute;width: 100%;right: -100%;bottom: 0;
     -webkit-transition:all 0.34s linear 0s;
    -moz-transition:all 0.34s  linear 0s;
    -ms-transition:all 0.34s  linear 0s;
    -o-transition:all 0.34s linear 0s;
    transition:all 0.34s  linear 0s;
}

.header.gray .nv li:hover a:before{left: 0;}
.header.gray .nv li:hover a:after{right: 0;}


.header.fixed{padding:0;position: fixed;z-index:10;background: rgba(0,0,0,0);border-bottom: none;width: 100%;}
.header.fixed .logo{display: inline-block;width: 103px;height: 53px;background:#fff url(../images/logo.png) no-repeat center center;padding: 30px;}
.header.fixed .user{float: right;color: #ff7200;text-decoration: underline;display: inline-block;padding: 0 23px 0 0;background: url(../images/user.png) no-repeat center right;position: relative;top: 15px;}
.header.fixed .nv{float: left;margin: 30px 0 0 50px;}
.header.fixed .nv li{overflow: hidden;float: left;}
.header.fixed .nv li.current a{color: #fff;}
.header.fixed .nv li a{display: inline-block;line-height: 40px;position: relative;color: #fff;}
.header.fixed .nv li a:before{content: ""; height: 1px;background: #fff;position: absolute;width: 100%;left: -100%;top: 0;
     -webkit-transition:all 0.34s linear 0s;
    -moz-transition:all 0.34s  linear 0s;
    -ms-transition:all 0.34s  linear 0s;
    -o-transition:all 0.34s linear 0s;
    transition:all 0.34s  linear 0s;
}
.header.fixed .nv li a:after{content: ""; height: 1px;background: #fff;position: absolute;width: 100%;right: -100%;bottom: 0;
     -webkit-transition:all 0.34s linear 0s;
    -moz-transition:all 0.34s  linear 0s;
    -ms-transition:all 0.34s  linear 0s;
    -o-transition:all 0.34s linear 0s;
    transition:all 0.34s  linear 0s;
}

.header.fixed .nv li:hover a:before{left: 0;}
.header.fixed .nv li:hover a:after{right: 0;}

.index-page{width: 100%;height: 100%;z-index:9;top: 0;left: 0;}
.index-page .search form{padding: 50px 0 20px 0;}
.index-page .search form input{border: 1px solid #afafaf;text-indent: 30px;font-size: 13px;color: #555;background:#fff url(../images/icon-search.png) no-repeat 5px center;border-radius: 3px;height: 30px;line-height: 30px;width:350px;}
.index-page .search form button{background: #3eb134;height: 32px;line-height: 32px;text-align: center;color: #fff;font-size: 16px;padding: 0 25px;border-radius: 3px;margin: 0 0 0 2px;position: relative;top: 1px;cursor: pointer;}
.index-page .search p a{color: #555;font-size: 15px;display: inline-block;margin: 0 10px;}
.index-page .search p a:hover{color: #3EB134;}




.platformGuide_list{padding: 80px 0;}
.platformGuide_list li{margin: 0 0 30px 0;padding: 0 0 70px 0; background: url(../images/shadow.png) no-repeat center bottom;}
.platformGuide_list li .word .title:after,
.platformGuide_list li:after{content:".";display:block;clear:both;height:0px;visibility:hidden;}
.platformGuide_list li .word{width: 60%;float: left;}
.platformGuide_list li .word .title h2{font-size: 35px;display: inline-block;}
.platformGuide_list li .word .title i{margin: 0 10px 0 0; width:60px;height: 60px;text-align: center;line-height: 60px;border-radius: 50%;display:  inline-block;color: #fff;font-style: normal;background: #aaa;font-size: 35px;}
.platformGuide_list li .word .cont{font-size: 14px;color: #666;padding: 20px 0 0 10px;}
.platformGuide_list li .word .cont_list{font-size: 12px;color: #666;margin: 10px 0 0 0;}
.platformGuide_list li .word .cont_list p:first-child{color: red;font-size: 14px;}
.platformGuide_list li .word .cont_list p{line-height: 25px;}
.platformGuide_list li .word .cont_list p span{font-weight: bold;}
.platformGuide_list li .pic{width: 35%;float: right;text-align: center;}
.platformGuide_list li:nth-child(2n) .word{float: right;}
.platformGuide_list li:nth-child(2n) .word .title{text-align: right;}
.platformGuide_list li:nth-child(2n) .word .title i{float: right;margin: 0 0 0 10px;}
.platformGuide_list li:nth-child(2n) .pic{float: left;}


.commonProblem_list{padding:30px 0 0 0;width: 100%;background: #f7f7f7;}
.commonProblem_list li{width: 100%;background: #f7f7f7;padding: 50px 0;}
.commonProblem_list li:nth-child(2n){background: #fff;}
.commonProblem_list .word{width: 75%;float: left;position: relative;}
.commonProblem_list .word .title i{margin: 0 10px 0 0; width:40px;height: 40px;text-align: center;line-height:40px;border-radius: 50%;display:  inline-block;color: #fff;font-style: normal;background: #aaa;font-size: 23px;}
.commonProblem_list .word .title:before{content: " ";height: 20px;width: 1px;background:#3eb134;position: absolute;top: 40px;left: 20px;}
.commonProblem_list li .word .title h2{font-size: 23px;display: inline-block;color: #555;}
.commonProblem_list .word .cont{padding: 15px 0;}
.commonProblem_list .word .cont p{font-size: 14px;color: #555;line-height: 23px;padding: 0 10px;}
.commonProblem_list .word .cont i{margin: 0 10px 0 0; width:40px;height: 40px;text-align: center;line-height: 40px;border-radius: 50%;display:  inline-block;color: #fff;font-style: normal;background: #aaa;font-size: 23px;float: left;}
.commonProblem_list .pic{width: 25%;float: right;text-align: center;}
.commonProblem_list li:nth-child(2n) .word{float: right;}
.commonProblem_list li:nth-child(2n) .word .title{text-align: right;}
.commonProblem_list li:nth-child(2n) .word .title i{float: right;}
.commonProblem_list li:nth-child(2n) .word .cont i{float: right;}
.commonProblem_list li:nth-child(2n) .word .title:before{content: " ";height: 20px;width: 1px;background:#3eb134;position: absolute;top: 40px;left:96%;}
.commonProblem_list li:nth-child(2n) .pic{float: left;}

.userpage{margin: 50px auto;width: 1000px;}
.report-manage .list{width: 173px;height: 349px;background: url(../images/report_manage_pic.png) no-repeat center center;float: left;text-align: center;padding: 20px;}
.report-manage .list li{border-bottom: 1px solid #3eb134;line-height: 40px;}
.report-manage .list li a{color: #555;font-size: 15px;}
.report-manage .list li a:before{content: "●";font-size:30px;color: #3eb134;position: relative;top: 3px;left: -5px;}
.report-manage .list li.current a:before{content: "●";font-size:30px;color: #ff7200;position: relative;top: 3px;left: -5px;}
.report-manage .cont{width: 770px;float: right;}
.report-manage .cont .top{text-align: right;padding:10px 15px;background: #3eb134;}
.report-manage .cont .top select{padding:3px 5px;border-radius: 5px;border: 1px solid #eee;color: #555;}
.report-manage .cont .table{border: 1px solid #ddd;margin: 10px 0 0 0;width: 100%;}
.report-manage .cont .table table{width: 100%;}
.report-manage .cont .table thead td{background: #fff8e1;text-align: center;font-size: 15px;padding: 12px 0;color: #555;border-bottom: 1px solid #ddd;font-weight: bold;}
.report-manage .cont .table tbody td{text-align: center;background: #f8f8f8;border-bottom: 1px solid #d7e0ea;border-right: 1px solid #d7e0ea;padding: 10px 0;font-size: 13px;color: #555;}
.report-manage .cont .table tbody tr td:last-child{border-right: none;}
.report-manage .cont .table tbody tr:last-child td{border-bottom: none;}
.report-manage .cont .table tbody td a.del{font-size: 13px;color: #555;display: inline-block;padding: 0 0 0 20px;background: url(../images/icon-del.png) no-repeat left center;}
.report-manage .cont .table tbody td a.del:hover{color: #ff7200;}
.report-manage .add-rows{border: 1px solid #bbb;color: #aaa;display: inline-block;padding: 5px 10px 5px 25px;background: url(../images/add.png) no-repeat 5px center;float: right;margin-top: 15px;font-size: 14px;}
.report-manage .cont .table tbody td input{padding: 5px;border: 1px solid #eee;}
.report-manage .cont .table tbody td .sub{display: inline-block;color: #eee;padding: 5px 10px;color: #aaa;background: #fff;border: 1px solid #ccc;}
.report-manage .cont .table tbody td .sub:hover{color: #ff7200;border: 1px solid #ff7200;}
.report-manage .cont .table tbody td .pay{display: inline-block;color: #fff;padding: 3px 10px;background: #ff7200;border: 1px solid #ff7200;}
.report-manage .cont .table tbody td .view,.report-manage .cont .table tbody td .cancel{color: #aaa;display: inline-block;margin:3px 10px 0 3px;color: #666;}
.report-manage .cont .table tbody td .view:hover,.report-manage .cont .table tbody td .cancel:hover{color: #ff7200;}
.report-manage .page{text-align:center;margin-top:40px;}
.report-manage .page a{display:inline-block;padding:6px;border:1px solid #cfcfcf;margin-left:10px;font-size: 13px;color: #aaa;}
.report-manage .page a.current{border:1px solid #FF7200;color:#FF7200;}
.report-manage .manage-tabs{border-bottom: 1px solid #3eb134;width: 100%;text-align: center;margin: 10px 0 0 0;}
.report-manage .manage-tabs li{cursor: pointer;border-radius:5px 5px 0 0;display: inline-block;margin: 0 20px;padding: 6px 25px;color: #fff;font-size: 15px;background: #3eb134;}
.report-manage .manage-tabs li.current{background: #ff7200;}
.report-manage .manage-conts{display: none;}
.report-manage .manage-conts.current{display: block;}
.report-manage .cont .table .r_one{height:100px;margin-top:30px;text-align:center;}
.report-manage .cont .table .r_one p span{color:#ff9900;}
.report-manage .cont .table .safety{font-size:16px;margin-top:20px;margin:15px 0 0 15px;}
.report-manage .cont .table .password{margin:0 0 0 15px;}
.report-manage .cont .table .safety span{border-left:4px solid #FF7200;}
.report-manage .cont .table .sy_o,.report-manage .cont .table .emil,.report-manage .cont .table .password{height:80px;margin-top:25px;padding-left:40px;border-bottom:1px dashed #ddd;}
.report-manage .cont .table .sy_o li{float:left;font-size: 13px;}
.report-manage .cont .table .sy_o li.lt{width:50%;float:left}
.report-manage .cont .table .sy_o li.lt{width:45%;background:url(../images/reg_phone.png) no-repeat;padding-left:30px}
.report-manage .cont .table .sy_o li.lt dt{font-size:15px}
.report-manage .cont .table .sy_o li.lt dd a{color:#FF7200;text-decoration:underline;}
.report-manage .cont .table .sy_o li.lt .tit span{padding-left:30px;font-size:16px}
.report-manage .cont .table .sy_o li.ml{width:177px;height:37px;float:left;background:url(../images/bd.gif) no-repeat;margin-top:30px}
.report-manage .cont .table .emil li.rt,.report-manage .cont .table .password li.rt,.report-manage .cont .table .sy_o li.rt{width:15%;float:right;margin:20px 20px 0 0;text-align:right;font-size: 13px;}
.report-manage .cont .table .emil li.rt a,.report-manage .cont .table .password li.rt a,.report-manage .cont .table .sy_o li.rt a{color:#4167eb;text-decoration:underline}
.report-manage .cont .table .emil li.lt{width:65%;float:left;background:url(../images/reg_emil.png) no-repeat;padding-left:30px;font-size: 13px;}
.report-manage .cont .table .password{border-bottom:none;}
.report-manage .cont .table .password li.lt{width:65%;float:left;background:url(../images/password.png) no-repeat;padding-left:30px;font-size: 13px;}
.report-manage .cont .table .password li.lt i{color:#FF7200}

.report-manage.user .list{width: 173px;height: 349px;background: url(../images/report_manage_pic2.png) no-repeat center center;float: left;text-align: center;padding: 20px;}
.report-manage.user .list li{text-align: left;padding: 0 0 0 35px;}
.report-manage.user .user-info h2{color: #FF7200;padding: 35px 0 25px 0;font-weight: bold;text-align: center;}
.report-manage.user .user-info table{width: 100%;}
.report-manage.user .user-info table tr td{width: 50%;vertical-align: top;padding: 0 0 0 60px;}
.report-manage.user .user-info table tr td p{padding: 6px 0;}
.report-manage.user .user-info table tr td span{display: inline-block;float: left;}
.report-manage.user .user-info table tr td span:first-child{color: #555;display: inline-block;margin: 0 10px 0 0;width: 100px;text-align: right;}
.report-manage.user .user-info table tr form {text-align: center;margin: 30px 0 0 0;}
.report-manage.user .user-info table tr form button{text-align: center;color: #fff;background: #FF7200;display: inline-block;border-radius: 5px;padding: 5px 20px;font-size: 16px;cursor: pointer;}



/*设置密码*/
.setTitle{padding: 10px;border-bottom: 1px solid #eee;background: #f5f5f5;}
.setTitle span{font-weight: bold;}
.setTitle a{color: #FF7200;font-size: 13px;}

.setCont .switch{height:30px;margin-top:20px;padding-left:30px;border-bottom:1px dashed #ddd;text-align: center;}
.setCont .switch li{padding:0 30px;font-size:15px;color:#aeb1b2;line-height:30px;display: inline-block;}
.setCont .switch li.active{color:#4c9fcc;border-bottom:2px solid #4c9fcc}
.setCont .switch li i img{vertical-align:middle;margin-right:5px}

.setCont .setpassword{padding: 50px 0 0 150px;}
.setCont .setpassword li{height:35px;margin-bottom:30px;position:relative}
.setCont .setpassword span:first-child{min-width: 130px;text-align: right;}
.setCont .setpassword span{font-size: 13px;color: #555;display: inline-block;margin: 0 10px 0 0;}
.setCont .setpassword span input,.setCont .setpassword span select{border:1px solid #bcc8d8;padding:5px;color:#999;background:#fcfcfc;}
.setCont .setpassword .t_m{display: inline-block;font-size: 12px;color: #f82f2f;}
.setCont .setpassword .change{display: inline-block;border: 1px solid #eee;box-shadow: 0 1px 1px #eee;border-radius: 3px;padding: 5px 10px;background:#f5f5f5;color: #555;font-size: 12px;}
.setCont button{background:#fe9900;color: #fff;font-size: 15px;padding: 5px 20px;border-radius: 3px;margin: 50px auto;display: block;cursor: pointer;}
.setCont .setpassword .t_m i.ico_error {
    width: 19px;
    height: 19px;
    display: inline-block;
    background: url("../images/ico_reg.png") no-repeat -64px 0;
    vertical-align: middle;
}

.setpswSuccess{width: 600px;margin: 0 auto;padding: 100px 0;background: #fbfbfb;border-radius: 3px;text-align: center;margin: 200px auto;}
.setpswSuccess p{font-size: 15px;line-height: 30px;}
.setpswSuccess a{font-size: 13px;color: #fe9900;}
.setpswSuccess a:hover{text-decoration: underline;}











/*登录*/
.logon-box{width: 100%;height: 100%;z-index: 5;top: 0;left: 0;}
.logon-box .logon{background: #f7f7f7;box-shadow: 2px 2px 8px #ccc;padding: 50px;width: 600px;margin: 0 auto;}
.logon-box .logon .left{border-right: 1px solid #3EB134;float: left;width: 60%;text-align: left;}
.logon-box .logon .left p{font-size: 13px;color: #555;margin: 0 0 10px 0;width: 90%;}
.logon-box .logon .left p input{background: #e4e4e4;border-radius: 3px;text-indent: 10px;color: #aaa;font-size: 13px;padding:10px 5px;width: 255px;}
.logon-box .logon .left p a{text-decoration: underline;color: #555;font-size: 12px;}
.logon-box .logon .left p button{background: #ff7200;color: #fff;font-size: 13px;padding: 7px 30px;border-radius: 5px;cursor: pointer;}
.logon-box .logon .right p a{background: #3eb134;color: #fff;font-size: 13px;padding: 7px 30px;border-radius: 5px;cursor: pointer;display: inline-block;margin: 10px 0 0 0;}
/*注册*/
.tabs-cont{display: none;}
.tabs-cont.current{display: block;}
.reg{margin: 100px auto;background: url(../images/or.png) no-repeat center center;}
.reg .left{float: left;width: 40%;text-align: left;padding: 0 30px;}
.reg .left .reg-tabs{margin: 0 0 25px 0;}
.reg .left .reg-tabs li{display: inline-block;padding: 10px 0;width: 45%; color: #555;text-align: center;cursor: pointer;border-bottom: 1px solid #eee;float: left;}
.reg .left .reg-tabs li.current{color: #4abb3c;border-bottom: 1px solid #fff;background: url(../images/arrow-bg.png) no-repeat center bottom;position: relative;bottom: -1px;}
.reg .left .reg-type p:after{content:".";display:block;clear:both;height:0px;visibility:hidden;}
.reg .left .reg-type p{font-size: 13px;color: #555;margin: 0 0 10px 0;}
.reg .left .reg-type p span:first-child{width: 80px;display: inline-block;text-align: right;}
.reg .left .reg-type p span i{display: inline-block;color: red;margin: 0 6px 0 0;}
.reg .left .reg-type p input[type='text'],
.reg .left .reg-type p input[type='password']{border: 1px solid #ccc;border-radius: 2px;text-indent: 5px;padding: 8px 0;}
.reg .left .reg-type p .getCode{display: inline-block;padding: 9px 20px;background: #4abb3c;color: #fff;font-size: 13px;border-radius: 3px;margin: 0 0 0 10px;width:auto;}
.reg .left .reg-type p.indent{padding: 0 0 0 80px;}
.reg .left .reg-type p button{color: #fff;background: #4abb3c;border-radius: 3px;width: 290px;text-align: center;padding: 10px 0;font-size: 14px;cursor: pointer;}
.reg .left .reg-type p button.disabled{background: #aaa;cursor: not-allowed;}


.reg .right{float: right;width: 40%;text-align: left;}
.reg .right p{border-bottom: 1px solid #eee;padding: 0 0 10px 0;}
.reg .right p span{font-size: 15px;display: inline-block;margin: 0 0 0 15px;}
.reg .right>a{display: block;border: 1px solid #4abb3c;color: #4abb3c;font-size: 15px;padding: 10px 0;margin: 20px 0;width: 200px;text-align: center;}
.reg .right span{font-size: 13px;color: #555;}
.reg .right span a{color: #4abb3c;}
i.arrow{
    border-top: 6px solid transparent;
    border-left: 10px solid #4abb3c;
    border-bottom: 6px solid transparent;
    padding: 0;
    display: inline-block;
    margin: 0;
}


/*弹窗*/
.sendMsgTable input,.sendMsgTable textarea{border: 1px solid #ccc;border-radius: 3px;box-shadow: inset 0 1px #eee;}
.sendMsgTable td{padding: 5px 0;font-size: 14px;color: #555;vertical-align: top;}

/*下拉*/
.sel-d{display: inline-block;border: 1px solid #ccc;background: #eee;border-radius: 5px;position: relative;}
.sel-d input{background: rgba(0,0,0,0);display: inline-block;padding:3px;}
.sel-d .btn{display: inline-block;color: #676161;font-size: 13px; background:#d6d5d5 url(../images/sel-btn.png) no-repeat right center;padding: 0 30px 0 10px;border-left: 1px solid #ccc;height:30px;line-height: 30px;}
.sel-d .menu{position: absolute;top: 30px;width: 100px;right: 0;background: #ccc;background: #eee;padding: 5px;border: 1px solid #ccc;display: none;z-index: 10;}
.sel-d .menu i{font-style: normal;font-size: 13px;cursor: pointer;display: inline-block;width: 45%;text-align:center;}
.sel-d .menu i:hover{color: #FF7200;}
.sel-d .menu.current{display: block;}
/*上传*/
.upload-img{width:180px;height: 180px;text-align: center;line-height:180px; position: relative;border: 1px solid #ccc;background: #eee;overflow: hidden;font-size: #ccc;font-size: 12px;margin: 0 0 0 20px;}
.upload-img form{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.upload-img input{position: absolute;width: 300px;height: 200px;left: -90px;cursor: pointer;opacity: 0;}



/*关系*/
.gx-list{margin: 60px auto;}
.gx-list .item{margin: 0 0 20px 0;}
.gx-list .item .title{border-bottom: 1px solid #3eb134;width: 100%;margin: 0 0 5px 0;}
.gx-list .item .title span{display: inline-block;padding: 7px 20px;color: #fff;font-size: 15px;background:#3eb134;border-radius:5px 5px 0 0;}
.gx-list .item table{width: 100%;}
.gx-list .item table tr:first-child td{color: #333;}
.gx-list .item table td{background: #f0f0f0;color: #777;border-right: 1px solid #fff;border-bottom: 1px solid #fff;text-align: center;font-size: 14px;padding: 15px 0;}
.gx-list .item textarea{border-radius: 5px;border: 1px solid #ccc;padding: 5px;font-size: 13px;color: #555;background: #f2f2f2;width: 99%;}
.gx-list .item form{text-align: center;}
.gx-list .item form button,
.gx-list .item form .btn{border-radius: 5px;padding: 6px 25px;background: #ff7200;color: #fff;cursor: pointer;margin: 10px;display: inline-block;}
.gx-list .item form button.sub{border-radius: 5px;padding: 6px 25px;background: #eee;color: #fff;cursor: pointer;margin: 10px 0 0 0;display: inline-block;color: #aaa;}

.gx-list .item .left{float: left;width: 850px;}
.gx-list .item .right{float: right;width: 140px;}
.gx-list .item .right .photo{width:140px;height: 140px;line-height: 140px;text-align: center;background: #e6e6e6;display: inline-block;}


/*获取查询码*/
.get-code-title{margin: 100px auto 60px auto;text-align: center;}
.get-code-title .txt{width:800px;text-align: left;margin: 15px 0 0 0;padding: 0 0 0 240px;}
.get-code-title .txt p{font-size: 14px;color: #555;line-height: 23px;}
.get-code-title .txt p span{font-weight: bold;}

.get-code-cont{margin: 0 auto 100px auto;}
.get-code-cont .tabs{width: 100%;border-bottom: 1px solid #45b035;text-align: center;margin-bottom: 35px;}
.get-code-cont .tabs li.current{background: #ff7200;}
.get-code-cont .tabs li{display: inline-block;background: #45b035;color: #fff;font-size: 20px;padding: 10px 35px;margin: 0 50px;text-shadow: 0 1px 1px rgba(0,0,0,0.3);font-weight: bold;border-radius: 5px 5px 0 0;cursor: pointer;}
.get-code-cont .tabs-cont{text-align:center;width: 930px;margin: 0 auto;}
.get-code-cont .tabs-cont h2{color: #45b035;margin: 0 0 15px 0;}
.get-code-cont .tabs-cont p{color: #555;font-size: 14px;text-align: center;}
.get-code-cont .type_1 .ban{width: 930px;height: 205px;border: 1px solid #eee; margin: 35px auto; background: url(../images/get_code_pic3.jpg) no-repeat center center;}
.get-code-cont .type_1 .ban .txt{text-align: center;width: 50%;height: 100%;top: 0;right: 0;}
.get-code-cont .type_1 .ban .txt h2{font-size: 35px;margin: 0 0 5px 0;}
.get-code-cont .type_1 .ban .txt p{text-align: center;font-size: 16px;line-height: 25px;}
.get-code-cont .type_1 .ban .txt p a{display: inline-block;border: 1px solid #45b035;color: #45b035;font-size: 14px;padding: 2px 15px;background: #f1fef4;border-radius: 5px;margin:5px;}
.get-code-cont .type_1 .btn-buy{float: right;display: inline-block;width: 148px;height: 37px;background: url(../images/btn-buy.jpg) no-repeat center center;}

.get-code-cont .type_2 .cont-box{margin: 60px auto;}
.get-code-cont .type_2 .cont-box table{width: 100%;}
.get-code-cont .type_2 .cont-box table td{padding: 0 50px;}
.get-code-cont .type_2 .cont-box td:first-child span{font-size: 15px;color: #555;}
.get-code-cont .type_2 .cont-box td:first-child span:last-child{text-decoration: underline;color: #aaa;font-size: 12px;}
.get-code-cont .type_2 .cont-box td:first-child p{margin: 30px 0;}
.get-code-cont .type_2 .cont-box td:first-child{border-right: 1px solid #aaa;}
.get-code-cont .type_2 .cont-box td p{text-align: left;font-size: 13px;color: #aaa;}
.get-code-cont .type_2 .cont-box td p a{float: right;display: inline-block;background: #ff7200;color: #fff;font-size: 13px;border-radius: 5px;padding: 3px  10px;}
.get-code-cont .type_2 .cont-box td .pic-prev{width: 100%;height: 370px;margin: 10px auto; line-height: 370px;text-align: center;border: 1px solid #ccc;background: #eee;}
.get-code-cont .type_2 .cont-box td .pic-prev .abs{width: 100%;height: 100%;}
.get-code-cont .type_2 .cont-box td .pic-prev .abs .rel{height: 35px;width: 80%;line-height: 35px;overflow: hidden;margin: 0 auto;}
.get-code-cont .type_2 .cont-box td .pic-prev .abs .rel input{left: 0;top: -30px;width: 200%;height: 60px;cursor: pointer;}
.get-code-cont .type_2 button{display: inline-block;background: #ff7200;color: #fff;font-size: 14px;border-radius: 5px;padding: 7px 50px;margin: 0 auto;cursor: pointer;}
.get-code-cont .type_3 .cont-box{margin: 60px auto 35px 0;width: 900px;padding: 0 0 0 30px;}
.get-code-cont .type_3 .cont-box p{text-align: left;line-height: 40px;}
.get-code-cont .type_3 .cont-box p span{font-size: 15px;display: inline-block;margin: 0 10px 0 0;min-width: 100px;}
.get-code-cont .type_3 .cont-box p input{border: 1px solid #aaa;padding: 5px;width: 80%;}
.get-code-cont .type_3 .cont-box p select{padding: 5px;width: 80%;}
.get-code-cont .type_3 button{display: inline-block;background: #ff7200;color: #fff;font-size: 14px;border-radius: 5px;padding: 7px 50px;margin:35px auto;cursor: pointer;}

/*申请页*/
.apply-list{margin: 60px auto;}
.apply-list .item{margin: 0 0 20px 0;}
.apply-list .item .title{border-bottom: 1px solid #3eb134;width: 100%;margin: 0 0 5px 0;}
.apply-list .item .title span{display: inline-block;padding: 7px 20px;color: #fff;font-size: 15px;background:#3eb134;border-radius:5px 5px 0 0;}
.apply-list .item .title i{font-size: 12px;font-style: normal;color: #aaa;display: inline-block;margin: 0 0 0 20px;}
.apply-list .item table{width: 100%;border: 1px solid #ddd;}
.apply-list .item table tr:first-child td{color: #333;background: #f1f1f1;}
.apply-list .item table tr:last-child td{border: none;}
.apply-list .item table td{background: #fff;color: #777;border-bottom: 1px solid #d7e0ea;text-align: center;font-size: 14px;padding: 15px 0;}
.apply-list .item table td .num-add,.apply-list .item table td .num-minu{display: inline-block;width: 20px;height: 20px;line-height: 20px;text-align: center;border: 1px solid #aaa;font-style: normal;margin: 0 2px;cursor: pointer;-moz-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none;}
.apply-list .item table td .num-add:hover,.apply-list .item table td .num-minu:hover{background: #f5f5f5;}
.apply-list .item table td input{border: 1px solid #aaa;height: 20px;text-indent: 5px;text-align: center;}

.apply-select{display: inline-block;position: relative;border-radius: 5px;border: 1px solid #ddd;width: 230px;}
.apply-select .sbtn{display: block;line-height: 30px;padding: 0 12px;position: relative;cursor: pointer;background: #eee;text-shadow: 0 1px 1px #fff;border-radius: 3px;}
.apply-select .sbtn:after{content:"."; display:block; height:0; visibility:hidden; clear:both;}
.apply-select .sbtn a{width:80%;font-size: 13px;color: #333;float: left;display:inline-block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.apply-select .sbtn i.arrow{width:0;height:0;padding: 0;margin: 0;border-top: 8px solid #ccc;border-left: 5px solid transparent;border-right: 5px solid transparent;float: right;margin: 12px 0 0 0;}
.apply-select ul{display:none;position:absolute;z-index: 2;top:35px;left:-1px;padding:10px;border: 1px solid #ccc;background: #fff;width: 100%;border-radius: 3px;box-shadow: 0 1px 1px #ddd;}
.apply-select ul:after{content:"."; display:block; height:0; visibility:hidden; clear:both;}
.apply-select ul.menu{width:280px;left:-1px;}
.apply-select ul li{padding:3px 5px;display:inline-block;width:auto;border-radius:3px;font-size:12px;color:#555;cursor:pointer;}
.apply-select ul li:hover,
.apply-select ul li.current{background:#eee;color:#07699d;}
.apply-select ul.menu2{width:120px;left:290px;}
.apply-select ul.menu3{width:150px;left:420px;}
.apply-select ul.menu.current {display: block;}
.apply-select ul.menu2.current{display:block;}
.apply-select ul.menu3.current{display:block;}

.apply-list .item table.info{padding: 20px;}
.apply-list .item table.info td{border: none;background: #fff;}
.apply-list .item table.info tr:first-child td{color: #777;background: #fff;}
.apply-list .item table.info td{text-align: left;padding: 10px 0 10px 10px;}
.apply-list .item table.info td input{padding: 5px;text-align: left;background: #eee;border-radius: 5px;border: 1px solid #ddd;}
.apply-list .item table.info td.clear .apply-select,.apply-list .item table.info td.clear>span{float: left;margin: 0 5px 0 0;}


/*场景*/
#superContainer .page1{background: url(../images/bg_pic01.png) no-repeat center center;height: 100%;}
#superContainer .page1 .center .left{width: 60%;float: left;position: relative;}
#superContainer .page1 .center .left .boy{position: absolute;right: 30px;z-index: 3;}
#superContainer .page1 .center .left .girl{position: absolute;left: 30px;z-index: 3;}
#superContainer .page1 .center .left .link{position: absolute;top:150px;left: 200px;z-index: 2;}
#superContainer .page1 .center .right{width: 40%;float: right;}


#superContainer .section .center .view{display: inline-block;border: 1px solid #fff;color: #fff;font-size: 15px;padding: 10px 20px;margin: 30px 0 0 0;}
#superContainer .section .center{width: 1000px;margin: 0 auto;height: 400px;position: relative;}
#superContainer .section .txt{background: rgba(255,255,255,0.3);padding: 20px;color: #fff;position: absolute;z-index: 5;border-radius: 5px;bottom: -50px;display: none;}
#superContainer .section .txt.current{display: block;}
#superContainer .section .txt p{font-size: 14px;text-align: left;text-indent: 2em;}
#superContainer .section .txt h3{text-align: left;font-weight: bold;margin: 0 0 5px 0;}
#superContainer .section .txt i.arrow{top: -26px;right: 190px; width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 20px solid rgba(255,255,255,0.3);padding: 0;position: absolute;}


#superContainer .page2{background: url(../images/bg_pic02.png) no-repeat center center;height: 100%;}
#superContainer .page2 .center .left{width: 60%;float: right;position: relative;}
#superContainer .page2 .center .left .girl2{position: absolute;right: -40px;z-index: 3;opacity: 0;}
#superContainer .page2 .center .left .girl3{position: absolute;left: -90px;z-index: 3;top:50px;opacity: 0;}
#superContainer .page2 .center .left .link{position: absolute;top:150px;left: 200px;z-index: 2;}
#superContainer .page2 .center .right{width: 40%;float: left;padding: 100px 0 0 0;}
#superContainer .page2 .txt{bottom: -60px;}
#superContainer .page2 .txt i.arrow{top: -26px;left: 190px;}


#superContainer .page3{background: url(../images/bg_pic03.png) no-repeat center center;height: 100%;}
#superContainer .page3 .center .left{width: 60%;float: left;position: relative;z-index: 3;height: 400px;}
#superContainer .page3 .center .left .people2{left: -100px;position: absolute;opacity: 0;}
#superContainer .page3 .center .left .ground{bottom: -50px;position: absolute;left: 0;opacity: 0;}
#superContainer .page3 .center .right{width: 40%;float: right;padding: 130px 0 0 0;}
#superContainer .page3 .txt{bottom: -140px;}
#superContainer .page3 .txt i.arrow{top: -26px;right: 190px; }

#superContainer .page4{background: url(../images/bg_pic04.png) no-repeat center center;height: 100%;}
#superContainer .page4 .center .left{width: 60%;float: right;position: relative;z-index: 3;
-webkit-transform: scale(0.2);
-moz-transform: scale(0.2);
-o-transform: scale(0.2);
-ms-transform: scale(0.2);
transform: scale(0.2);
    opacity: 0;
-webkit-transition: all 0.5s;    
-moz-transition: all 0.5s;    
-o-transition: all 0.5s;    
-ms-transition: all 0.5s;    
transition: all 0.5s;    
}
#superContainer .page4 .center .left.show{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
}
#superContainer .page4 .center .left .people3{position: absolute;left: 0;}
#superContainer .page4 .center .left .people4{position: absolute;right: 0;}
#superContainer .page4 .center .left .people5{position: absolute;top: 15px;left: 180px;}
#superContainer .page4 .center .right{width: 40%;float: left;}
#superContainer .page4 .txt{bottom: -50px;}
#superContainer .page4 .txt i.arrow{top: -26px;left: 190px; }

/*场景首页*/
.changjiang{background: #45b035 url(../images/bg_pic02.png) no-repeat center center;}
.changjiang .header.gray{padding: 0;position: relative;z-index:10;background: rgba(0,0,0,0);border-bottom: none;}
.changjiang .header.gray .nv {margin-top: 25px;}
.changjiang .header.gray .nv li.current a{color: #fff;}
.changjiang .header.gray .nv li a{display: inline-block;line-height: 40px;position: relative;color: #fff;}
.changjiang .header.gray .nv li a:before{content: ""; height: 1px;background: #fff;position: absolute;width: 100%;left: -100%;top: 0;
     -webkit-transition:all 0.34s linear 0s;
    -moz-transition:all 0.34s  linear 0s;
    -ms-transition:all 0.34s  linear 0s;
    -o-transition:all 0.34s linear 0s;
    transition:all 0.34s  linear 0s;
}
.changjiang .header.gray .nv li a:after{content: ""; height: 1px;background: #fff;position: absolute;width: 100%;right: -100%;bottom: 0;
     -webkit-transition:all 0.34s linear 0s;
    -moz-transition:all 0.34s  linear 0s;
    -ms-transition:all 0.34s  linear 0s;
    -o-transition:all 0.34s linear 0s;
    transition:all 0.34s  linear 0s;
}

.changjiang .header.gray .nv li:hover a:before{left: 0;}
.changjiang .header.gray .nv li:hover a:after{right: 0;}
.changjiang .header.gray .logo{display: inline-block;width: 103px;height: 53px;background:#fff url(../images/logo.png) no-repeat center center;padding: 30px;}
.changjiang .header.gray .user{float: right;color: #a8e0a0;text-decoration: underline;display: inline-block;padding: 0 23px 0 0;background: url(../images/user2.png) no-repeat center right;position: relative;top: 40px;}
.changjiang_bg{width: 100%;height: 900px;background: url(../images/bg_pic05.png) no-repeat center center;}

/*示例报告*/
.example-table{margin:50px auto;}
.example-table .left{width: 49%;float: left;}
.example-table .right{width: 49%;float: right;}
.example-table .box .title{font-size: 15px;color: #fff;width: 100%;padding: 10px 0;text-align: center;background: #60cd4b;margin-bottom: 10px;}
.example-table .cont{background: #fff;min-height: 180px;border: 1px solid #eee;}
.example-table .right .cont p{padding: 30px 20px 15px 20px;font-size: 15px;color: #888;}
.example-table .right .cont p a{color: #333;}
.example-table .left table{width: 100%;}
.example-table .left table td{text-align: center;font-size: 14px;color: #888;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;padding: 12px 0;}
.example-table .left table td:last-child{border-right:none;}
.example-table .left table tr:last-child td{border-bottom: none;}
.example-table .left table tr{background: #fff;}
.example-table .left table tr.current{background: #dcf2d8;}
.example-table .left table tr.t td{color: #f46e00;}
.example-table .left table td.t{color: #45b035;}

.example-title {text-align: center;margin-top: 100px;height: 166px;}
.example-cont .center{height: 500px;margin-bottom: 150px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.example-cont .txt{right:0;color: #fff;font-size: 13px;line-height: 20px;top: 50px;}
.example-cont .img-bg{left: 50%;top: 50%;margin-top: -138px;margin-left: -400px;width: 809px;height: 411px;z-index: 2;}
.example-cont .circle{border: 1px solid #fff;background: #45b035;border-radius: 50%;left: 50%;top: 50%;
    -wekbit-transform: rotateX(55deg);
    -moz-transform:rotateX(55deg);
    -o-transform: rotateX(55deg);
    -ms-transform: rotateX(55deg);
    transform:rotateX(55deg);
}
/*.example-cont .circle.a{box-shadow: 0 2px 10px rgba(0,0,0,0.35);}*/
.example-cont .circle.current{box-shadow: 0 0 0 50px rgba(255,255,255,0.15);}
.example-cont .makeCir-cont{width: 900px;height: 500px;top: 50%;left: 50%;margin: -200px 0 0 -450px;z-index: 5;}

.cirPop{background: #77cc6a;color: #fff;font-size: 13px;padding: 10px;}
.cirPop .pop-arrow{border-right: 7px solid #77cc6a;border-top: 8px solid transparent;border-bottom: 8px solid transparent;padding: 0;display: inline-block;width: 0;height: 0;position: absolute;left: -7px;top: 7px;}

.example-nv{text-align: left;margin-top: 50px;border-bottom: 2px solid #61d554;}
.example-nv a{display: inline-block;margin: 0 30px;padding: 10px 20px;font-size: 15px;color: #fff;background: #329523;border-radius: 5px 5px 0 0;}
.example-nv a.current{background: #d3f5cc;color: #205e15;}

.example-nv select{padding:3px 5px;border-radius: 5px;border: 1px solid #eee;color: #555;}


/*首页动画*/
#myCanvas{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 2;}
.indexBgAni{width: 1000px;height:100%;bottom: 0;left: 50%;margin-left: -500px;z-index:2;}
.indexBgAni .basic,
.indexBgAni .pic-home,
.indexBgAni .pic-people,
.indexBgAni .pic-jy{
     transform-origin: center bottom;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    transform:rotateX(-90deg);
    -webkit-transform:rotateX(-90deg);
    -moz-transform:rotateX(-90deg);
    -ms-transform:rotateX(-90deg);
    -o-transform:rotateX(-90deg);
    transform:rotateX(-90deg);    
}
.indexBgAni .basic{bottom: 0;
     -webkit-transition:all 0.34s linear 0s;
    -moz-transition:all 0.34s  linear 0s;
    -ms-transition:all 0.34s  linear 0s;
    -o-transition:all 0.34s linear 0s;
    transition:all 0.34s  linear 0s;
}

.indexBgAni .pic-home{left: 265px;bottom: 115px;
     -webkit-transition:all 0.34s linear 0.12s;
    -moz-transition:all 0.34s  linear 0.12s;
    -ms-transition:all 0.34s  linear 0.12s;
    -o-transition:all 0.34s linear 0.12s;
    transition:all 0.34s  linear 0.12s;
}
.indexBgAni .pic-people{left: 505px;bottom: 70px;
     -webkit-transition:all 0.34s linear 0.24s;
    -moz-transition:all 0.34s  linear 0.24s;
    -ms-transition:all 0.34s  linear 0.24s;
    -o-transition:all 0.34s linear 0.24s;
    transition:all 0.34s  linear 0.24s;
}
.indexBgAni .pic-jy{left: 815px;bottom: 30px;
     -webkit-transition:all 0.34s linear 0.36s;
    -moz-transition:all 0.34s  linear 0.36s;
    -ms-transition:all 0.34s  linear 0.36s;
    -o-transition:all 0.34s linear 0.36s;
    transition:all 0.34s  linear 0.36s;
}
.indexBgAni .pic-r{
right: 50px;top: 100px;
-moz-animation: rMove 52s infinite linear;
    -o-animation: rMove 52s infinite linear;
    -webkit-animation: rMove 52s infinite linear;
    animation: rMove 52s infinite linear;
}
@keyframes rMove{
0%{transform:rotate(0deg);}100%{transform:rotate(359deg)}
}
@-webkit-keyframes rMove{
0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}
}
.indexBgAni .pic-y{right: 150px;top: 200px;}
.indexBgAni .pic-hd{left: 50%;margin-left: -80px; top: 180px;}

.indexBgAni .basic.a{ -webkit-transform:rotateX(0deg);}
.indexBgAni .pic-home.a{ -webkit-transform:rotateX(0deg);}
.indexBgAni .pic-people.a{ -webkit-transform:rotateX(0deg);}
.indexBgAni .pic-jy.a{ -webkit-transform:rotateX(0deg);}




