#SD_HideSelect{position:fixed;top:0px;left:0px;z-index:999;width:100%;height:100%;background:#FFFFFF;border:none;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
* html #SD_HideSelect{position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight:document.body.offsetHeight + 'px');}
#SD_overlay{position:fixed;top:0px;left:0px;z-index:1000;width:100%;height:100%;}
* html #SD_overlay{position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight:document.body.offsetHeight + 'px');}
.SD_overlayBG{background:#000;filter:alpha(opacity=50);-moz-opacity:0.50;opacity:0.50;}
.SD_overlayBG2{background:#fff;filter:alpha(opacity=20);-moz-opacity:0.20;opacity:0.20;}
.layer{position:absolute;border:10px solid rgba(0,0,0,0.5);border-radius:10px;text-align:left;width:600px;z-index:100000;}
.layer_wrap{background:#fff;border:1px solid #ccc;}
.layer_title{position:relative;width:100%;background:linear-gradient(#fff,#ECECEC);background-color:#F2F2F2;border-bottom:1px solid #ccc;cursor:move;}
.layer_title h3{margin-left:10px;height:35px;line-height:35px;font-size:14px;color:#666;}
.layer_title .close{position:absolute;right:10px;top:13px;display:block;width:10px;height:10px;background:url(../images/ico_layer.gif) no-repeat;cursor:pointer;}
.layer_contain{padding:20px;}
.layer .con_footer{border-top:1px solid #f2f2f2;padding:10px 20px;}
.layer .con_footer .con_footer_wrap{float:right;}
.layer .con_footer .btn{color:#666 !important;margin-left:10px;padding:5px 10px;border-radius:5px;}
.layer .btn_bigger{color:#666 !important;margin-left:10px;padding:5px 10px;background-color:#eee;border-radius:5px;}
.layer .con_footer .btn:hover{color:#666 !important;}
.layer .con_footer .btn_red,.layer .con_footer .btn_red:hover{color:#fff !important;}
.layer .con_footer .btn_blue{color:#fff !important;background:linear-gradient(#0099D1,#00B7DA);background-color:#0099D1;}
.layer .con_footer .btn_blue:hover{color:#fff !important;border-color:#0099D1;background:linear-gradient(#00B7DA,#0099D1);background-color:#0099D1;}
.layer .base_dl dt{margin:20px 0 5px;color:#666;font-size:14px;}
.layer .base_dl dd input,.base_dl dd textarea{color:#999;}
.layer .creat_project .edit_data li textarea{width:400px;height:80px;}
.layer .creat_project .tag_list dt{color:#666;font-size:14px;margin:20px 0 10px;}
.creat_new_box{background:transparent;border-radius:0;margin:0;padding:0;}
.creat_schedule li .chat{position:absolute;z-index:100;top:30px;}
.creat_schedule li .chat .arrow_up{left:53px;}
.creat_schedule .loop{padding:10px;}
.creat_schedule .loop li{float:none;font-size:12px;}
.creat_schedule .loop li span{margin-right:10px;}
.creat_schedule .loop li dl,.creat_schedule .loop li dl dd{display:inline-block;*display:inline;zoom:1;}
.creat_schedule .loop li dl dd{margin-right:10px;}
.creat_schedule .loop li dl dd label input{margin-right:3px;position:relative;top:-1px;}
.creat_schedule .loop li select,.creat_schedule .loop li input{padding:0;}
.creat_schedule .loop .btn_area{margin:10px 0 0;}
.creat_schedule .loop_label{margin-right:10px;}
.creat_schedule .loop_label input{margin-right:3px;position:relative;top:-1px;}
.chat_history_layer .message_info{word-break:break-all;word-wrap:break-word;}
.chat_history_layer .message_list{margin:10px 0 0;}
.chat_history_layer .message_list .username .time{color:#999;margin-left:10px;}
.chat_history_layer .message_list_self .username a{color:#3eb128;}
.layer .member_checked{background:#fcfcfc;padding:5px 10px 10px 10px;border-radius:5px;border:1px dashed #e2e2e2;}
.layer .member_checked h6,.layer .member_checked .checked_list{display:inline-block;}
.layer .member_checked h6{font-size:14px;font-weight:normal;position:relative;top:5px;margin-bottom:5px;}
.layer .member_checked .checked_list .tag_control{margin:5px 5px 0 0;font-size:14px;background:#fff;}
.layer .member{margin-top:10px;border:1px solid #e2e2e2;}
.layer .member .col_left{padding:10px;border-right:1px solid #e2e2e2;background:#F3FBFB;height:500px;overflow-y:auto;width:260px;}
.layer .member .col_right{margin-left:260px;padding-top:10px;}
.layer .member .col_right .member_wrap{height:458px;overflow-y:auto;}
.layer .my_data .base_info{position:relative;}
.layer .my_data .base_info .btn_area{position:absolute;right:10px;top:10px;}
.layer .item_count .login_info{background:#fafafa;border-radius:0;color:#999;border:1px solid #e2e2e2;border-width:1px 0;}
.layer .appeal_result{font-size:14px;}
.layer .appeal_result .do{margin:10px 0;border:1px solid #e2e2e2;}
.layer .appeal_result .do .l{float:left;background:#f7f7f7;padding:10px;border-right:1px solid #e2e2e2;}
.layer .appeal_result .do .r{float:left;padding:10px;}
.layer .appeal_result ul{border-top:1px solid #e2e2e2;padding:10px 0;}
.layer .appeal_result ul.first{border:none;}
.layer .duty_detail .duty_data{border:1px solid #e2e2e2;border-bottom:none;}
.layer .duty_detail .duty_data li{border-top:1px solid #fff;border-bottom:1px solid #e2e2e2;background:#fcfcfc;}
.layer .duty_detail .duty_data .w_1{float:left;width:100px;padding:10px;font-weight:bold;font-size:16px;}
.layer .duty_detail .duty_data .w_2{padding:5px 10px;margin-left:100px;background:#fff;border-left:1px solid #e2e2e2;line-height:25px;}
.layer .feedback h6{font-size:14px;}
.layer .feedback .edit_data li{margin-top:20px;}
.layer .feedback .edit_data .w_1{width:80px;font-size:12px;position:relative;}
.layer .feedback .edit_data .w_1 .must{position:absolute;top:3px;left:-10px;font-size:20px;color:#da4e49;}
.layer .feedback .edit_data .w_2 textarea{width:850px;height:100px;}
.layer .feedback .edit_data .w_2 .ico_add{border:1px dashed #ccc;display:inline-block;width:48px;height:48px;text-align:center;line-height:40px;font-size:40px;overflow:hidden;border-radius:5px;font-style:normal;cursor:pointer;}
.layer .feedback .edit_data .w_2 .ico_add:hover{background:#fcfcfc;color:#000;}
.layer .feedback .edit_data .w_2 img{width:50px;height:50px;border-radius:5px;margin-right:10px;}
.layer .feedback .edit_data .tip{position:static;float:none;display:inline-block;margin:0;}